## Cultivations

In [13]:
# import packages
import sys
import os
from dotenv import load_dotenv
from IPython.display import display, HTML
import json
import matplotlib.pyplot as plt
import folium
import pandas as pd
import geopandas as gpd

# Load environment variables from .env file
load_dotenv()

# import the API builder
sys.path.append(os.path.abspath("../../"))
from scoutmaster.api import ScoutMasterAPI

In [14]:
# Scoutmaster API - Credentials
client_id = os.getenv('SM_CLIENT_ID')
client_secret = os.getenv('SM_CLIENT_SECRET')
project_id = os.getenv('SM_PROJECT_ID')
dev = os.getenv("DEV")

# Scoutmaster API - Init
SM_API = ScoutMasterAPI(dev)
SM_API.authenticate(client_id=client_id, client_secret=client_secret)

âœ… Successfully authenticated ScoutMaster API
HOST: https://dev-api.scoutmaster.nl/v2/

In [15]:
output_folder = "../../data/output/"

In [18]:
SM_API.output_format = 'df'
df_cultivations = SM_API.cultivations(project_id=project_id)
df_cultivations

,id,field_id,field_name,crop,events
0,1,39507fbd-6f0e-49e5-bdb2-f36d964cffa1,bieten rombouts 25,"{'code': 1010201, 'name': 'Suikerbiet', 'varie...","{'plant': '2025-03-11T23:00:00.000Z', 'harvest..."
1,6,39507fbd-6f0e-49e5-bdb2-f36d964cffa1,bieten rombouts 25,"{'code': 1010101, 'name': 'Potatos', 'variety_...","{'plant': '2023-03-11T23:00:00.000Z', 'harvest..."
2,7,39507fbd-6f0e-49e5-bdb2-f36d964cffa1,bieten rombouts 25,"{'code': 1080101, 'name': 'Witlof', 'variety_i...","{'plant': '2024-04-15T00:00:00.000Z', 'harvest..."
3,9,39507fbd-6f0e-49e5-bdb2-f36d964cffa1,bieten rombouts 25,"{'code': 1080101, 'name': 'Witlof', 'variety_i...","{'plant': '2022-04-15T00:00:00.000Z', 'harvest..."

In [17]:
cultivation_data = {
  "crop_code": 1080101,
  "crop_variety_code": 20596,
  "plant_date": "2022-04-15",
  "harvest_date": "2022-09-30"
}

SM_API.cultivations_create(field_id="39507fbd-6f0e-49e5-bdb2-f36d964cffa1", cultivation_data=cultivation_data)

[{'id': '9', 'field_id': '39507fbd-6f0e-49e5-bdb2-f36d964cffa1', 'field_name': 'bieten rombouts 25', 'crop': {'code': 1080101, 'name': 'Witlof', 'variety_code': 20596, 'variety_name': 'Topscore'}, 'events': {'plant_date': '2022-04-15T00:00:00+00:00', 'harvest_date': '2022-09-30T00:00:00+00:00'}, 'season': 2022}]

,id,field_id,field_name,crop,events,season
0,9,39507fbd-6f0e-49e5-bdb2-f36d964cffa1,bieten rombouts 25,"{'code': 1080101, 'name': 'Witlof', 'variety_c...","{'plant_date': '2022-04-15T00:00:00+00:00', 'h...",2022