## Crops

In [1]:
# import packages
import sys
import os
from dotenv import load_dotenv
from IPython.display import display, HTML

# Load environment variables from .env file
load_dotenv()

# import the API builder
sys.path.append(os.path.abspath("../../"))
from scoutmaster.api import ScoutMasterAPI

The following Python snippet demonstrates how to initialize and authenticate with the ScoutMaster API using credentials stored in environment variables:

In [2]:
# Scoutmaster API - Credentials
client_id = os.getenv('SM_CLIENT_ID')
client_secret = os.getenv('SM_CLIENT_SECRET')
dev = os.getenv("DEV")

# Scoutmaster API - Init
SM_API = ScoutMasterAPI(dev)
SM_API.authenticate(client_id=client_id, client_secret=client_secret)

✅ Successfully authenticated ScoutMaster API
HOST: https://dev-api.scoutmaster.nl/v2/

Get crops as dataframe

In [3]:
df_crops = SM_API.crops()
df_crops

,code,name,created_at,updated_at
0,0,Onbekend,2025-06-06T15:26:05.656Z,2025-06-06T15:26:05.656Z
1,1010101,Aardappelen,2024-11-06T20:50:47.673Z,2024-11-06T20:50:47.673Z
2,1010201,Suikerbiet,2024-11-06T20:50:47.673Z,2024-11-06T20:50:47.673Z
3,1010202,Voederbiet,2024-11-06T20:50:47.673Z,2024-11-06T20:50:47.673Z
4,1020101,Wintertarwe,2024-11-06T20:50:47.673Z,2024-11-06T20:50:47.673Z
...,...,...,...,...
2653,9110102,Tijdelijk onbeteeld land,2025-06-06T15:26:05.288Z,2025-06-06T15:26:05.288Z
2654,9110103,Little Gem,2025-06-06T15:26:06.668Z,2025-06-06T15:26:06.668Z
2655,9110104,Roamaine sla,2025-06-06T15:26:07.013Z,2025-06-06T15:26:07.013Z
2656,9110105,Azolla,2025-06-06T15:26:07.314Z,2025-06-06T15:26:07.314Z
2657,9110106,Sedum,2025-06-06T15:26:07.629Z,2025-06-06T15:26:07.629Z

Order crops

In [4]:
df_crops = SM_API.crops(sort_by="name", order="desc", limit=5, page=1)
df_crops

,code,name,created_at,updated_at
0,3042043,Zwitsers mos,2025-06-06T15:24:12.034Z,2025-06-06T15:24:12.034Z
1,3041307,Zwerfheide,2025-06-06T15:20:07.615Z,2025-06-06T15:20:07.615Z
2,3041306,Zweedse meelbes,2025-06-06T15:20:07.286Z,2025-06-06T15:20:07.286Z
3,3041305,Zweedse dwergmispel,2025-06-06T15:20:06.967Z,2025-06-06T15:20:06.967Z
4,3040584,Zwartpurperen scabiosa,2025-06-06T15:16:30.898Z,2025-06-06T15:16:30.898Z

In [5]:
crop_code = 1080101
df_crops = SM_API.crops()
crop = df_crops[df_crops['code'] == crop_code].iloc[0]
print(f"Crop Code: {crop['code']}")
print(f"Crop Name: {crop['name']}")

Crop Code: 1080101
Crop Name: Witlof

In [6]:
df_crops_varieties = SM_API.crop_varieties(crop_code=crop_code)
df_crops_varieties

,id,name,created_at,updated_at,crop_code,code
0,23630,Absolue,2025-06-19T14:09:47.585Z,2025-06-19T14:09:47.585Z,1080101,20664
1,14766,Accent,2024-11-06T23:02:36.642Z,2024-11-06T23:02:36.642Z,1080101,10042
2,14767,Actius,2024-11-06T23:02:36.642Z,2024-11-06T23:02:36.642Z,1080101,10055
3,23926,Adagio,2025-07-15T10:12:20.226Z,2025-07-15T10:12:20.226Z,1080101,10063
4,14768,Adou,2024-11-06T23:02:36.642Z,2024-11-06T23:02:36.642Z,1080101,10092
...,...,...,...,...,...,...
126,23934,Yarix,2025-07-15T10:12:20.980Z,2025-07-15T10:12:20.980Z,1080101,20966
127,14850,Yellora,2024-11-06T23:02:36.642Z,2024-11-06T23:02:36.642Z,1080101,19603
128,14851,Yellow Star,2024-11-06T23:02:36.642Z,2024-11-06T23:02:36.642Z,1080101,19620
129,14852,Yukon,2024-11-06T23:02:36.642Z,2024-11-06T23:02:36.642Z,1080101,19643
130,14853,Zibline,2024-11-06T23:02:36.642Z,2024-11-06T23:02:36.642Z,1080101,19702