In [1]:
# import packages
import sys
import os
from dotenv import load_dotenv
from IPython.display import display, HTML
import json
import matplotlib.pyplot as plt
import folium

# Load environment variables from .env file
load_dotenv()

# import the API builder
sys.path.append(os.path.abspath("../../"))
from scoutmaster.api import ScoutMasterAPI

In [2]:
# Scoutmaster API - Credentials
client_id = os.getenv('SM_CLIENT_ID')
client_secret = os.getenv('SM_CLIENT_SECRET')
dev= os.getenv("DEV")

# Scoutmaster API - Init
SM_API = ScoutMasterAPI(dev)
SM_API.authenticate(client_id=client_id, client_secret=client_secret)
df_projects = SM_API.projects()
df_projects

âœ… Successfully authenticated ScoutMaster API
HOST: https://dev-api.scoutmaster.nl/v2/

,id,name,abbreviation,logo_path
0,6d3359ee-2988-4b23-b35b-14391e0eaa5f,04/06/2025 project,PR,None
1,c52cc8b0-fd2e-4d7b-bc73-9623f8f212ae,Abaco project,AB,None
2,db21b65c-88b0-401f-b7e2-700737e1717a,ChicoGrow project,CH,None
3,282201d8-406a-46f3-91cf-9c5b4031556f,New Project,None,None
4,ff9548db-3e82-4f59-9995-fdfb010ebb57,SQAT,Sq,None
5,a283dce3-2631-4a9e-be37-fbef710c2e88,test,None,None
6,e27fa09b-4153-4d0f-8645-92c14aabaee1,test 3,None,None
7,5f88d0d3-e4fc-482d-8981-b3532fa7e2c7,Test Project,TE,https://bioscope-products.s3.eu-central-1.amaz...

In [3]:
# Create a new column for display
def display_logo_or_abbr(row):
    if row['logo_path']:
        return f'<img src="{row["logo_path"]}" width="200">'
    else:
        return f'<div style="font-weight:bold; font-size:14pt;">{row["abbreviation"]}</div>'

df_projects['display'] = df_projects.apply(display_logo_or_abbr, axis=1)

# Display table with HTML
display(HTML(df_projects[['id', 'name', 'display']].to_html(escape=False, index=False)))